body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9eff1;
  padding: 20px;
}

.contact-form-wrapper {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.contact-form-subheader {
  text-align: center;
  font-size: 1rem;
  color: #777;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-group {
  margin-bottom: 20px;
}

.contact-form-input,
.contact-form-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #d1d1d1;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.contact-form-input:focus,
.contact-form-textarea:focus {
  border-color: #033473;
  outline: none;
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
  color: #bbb;
}

.contact-form-textarea {
  min-height: 150px;
  resize: none;
}

.contact-form-submit {
  display: inline-block;
  background: #033473;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: bold;
}

.contact-form-submit:hover {
  background: white;
  color: #033473;
  text-decoration: none;
  transition: 0.3s ease all;
  border: 1px solid #033473;
}

@media (max-width: 768px) {
  .contact-form-wrapper {
    padding: 25px;
    max-width: 90%;
  }
}

.status-message {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  width: auto;
  max-width: 250px;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}


.status-message.success {
  background-color: #4CAF50; 
  color: white;
}

.status-message.error {
  background-color: #f44336;
  color: white;
}

.status-message.hide {
  opacity: 0;
  visibility: hidden;
}

.line-above {
  width: 10%;
  height: 4px;
  background-color: #033473;
  margin: 0 auto 20px;
  border-radius: 20px;
}
