
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.pt-75 {
  padding-top: 75px;
}

.pb-45 {
  padding-bottom: 45px;
}


.counter-area {
  background-image: url(https://sazzadshakhbd.github.io/psd-html/img/bg/bg-counter.jpg); 
  background-size: cover;
  background-color: 9ca3af;
  background-position: center;
  padding: 0 20px;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  max-width: 1200px; 
  width: 100%;
}

.counter-list {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.single-counter {
  text-align: center;
  flex: 1;
  min-width: 200px;
  max-width: 300px; 
  margin-bottom: 20px; 
}

.single-counter > span {
  font-size: 28px;
  font-weight: 600;
  color: #033473; 
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}


.single-counter > p {
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin: 0;
}


.counter-icon {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  background-color: #f2f2f2;
  padding: 15px;
  display: inline-block;
  margin-bottom: 10px;
  color: #033473;
  font-size: 32px;
}

@media (max-width: 768px) {
  .counter-list {
    flex-direction: column; 
    align-items: center;
  }
  
  .single-counter {
    min-width: 100%;
  }
}
