body.loading {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; 
  color: black;
  font-size: 24px;
  font-weight: bold;
}

body:not(.loading) {
  height: auto; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1); 
}

.loading-container.hidden {
  opacity: 0; 
  pointer-events: none; 
}

.loading-image {
  width: 150px;
  max-width: 90%; 
  height: auto; 
}
