body {
  font-family: Poppins, sans-serif;
  margin: 0; 
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-weight: bold;
}

.navbar .logo img {
  height: 50px;
  width: auto;
}

.hamburger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  cursor: pointer;
  z-index: 2000; 
}

.hamburger-icon .bar {
  height: 4px;
  width: 100%;
  background-color: #033473;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon .bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.hamburger-icon .bar.open:nth-child(2) {
  opacity: 0;
}

.hamburger-icon .bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
}

.nav-links ul li {
  margin-left: 1.5rem;
}

.nav-links ul li a,
.nav-links ul li button {
  padding: 8px 12px;
  text-decoration: none;
  font-size: 95%;
  font-weight: bold;
}

.nav-links ul li a.active {
  font-weight: bold;
  color: #033473;
  text-decoration: underline;
}

.loginbutton, .logoutbutton {
  background: #033473;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.loginbutton:hover, .logoutbutton:hover {
  background: white;
  color: #033473;
}

/* --- Mobilnézet --- */
@media screen and (max-width: 1200px) {
  .hamburger-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 60px;
    right: 5%;
    width: 60%;
    background-color: transparent;
    padding: 10px;
    z-index: 1500;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    padding-top: 80px;
    z-index: 1500;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links li {
    margin: 20px 0;
  }
}
