:root {
  --secondary-color: #c39b6b; 
  --background-color: #f5f5f5; 
  --text-color: white;
  font-family: "Poppins", sans-serif;
}


body {
  font-family: "Poppins", sans-serif;
}

/* Oldal konténer */
.page-container {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

/* Fejléc */
.header-section {
  color: white;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px 10px 0 0;
}

.header-section h1 {
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
}

/* Profil szekció */
.profile {
  padding: 30px 0;
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
}

.profile-info {
  max-width: 600px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.profile-info h2 {
  font-size: 2.2rem;
  color: black;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.cim{
  font-weight: bold;
  color: #033473;
}
.profile-info .position,
.profile-info .specialization {
  font-size: 1.1rem;
  margin-bottom: 8px;

}
.kamp{
  color:  #033473;
}
.profile-info .description {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

/* Idővonal */
.timeline {
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.timeline h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.timeline ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column; /* A lista elemei egymás alatt */
  align-items: center;
}

.timeline li {
  margin-bottom: 15px; /* A lista elemek közötti távolság */
  display: flex;
  flex-direction: column; /* Az év és a leírás külön sorokban */
  align-items: center;
  text-align: center;
}

.timeline .year {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.3rem;
  margin-bottom: 5px; /* Az év és leírás közötti távolság */
}

.timeline-entry p {
  margin: 0; /* Nincs extra margó */
  line-height: 1.6;
}

/* Kampányok szekció */
.campaigns {
  padding: 30px;
  background-color: var(--background-color);
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaigns h2 {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.campaigns p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
}

/* Betöltés és hibaüzenetek */
.loading-message,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-color);
  padding: 20px;
}
