.ccontainer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    height: 400px;
  }
 
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  .h11{
    font-weight: bold;
    font-size: 40px;
  }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .table th {
    background-color: #033473;
    color: white;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  